:root {
    --dark-violet: #41227C;
    --dark-grey: #62557F;
    --color-lilla: #B4A9CE;
    --color-white: white;
    --magenta-bulb: #E21B57;
    --white-gradient: linear-gradient(153.63deg, #FFFFFF 24.08%, #E2E8EE 99.14%);
    --ligh-lilla: #F2EFF9;
    --mid-lilla: #B4A9CE;
    --tab-bg: linear-gradient(153.63deg, #FFFFFF 24.08%, #E2E8EE 99.14%);
    --lilla: rgba(134, 82, 249, 1);
}

.hero {
    background: linear-gradient(180deg, #8652F9 0%, #2E099B 53.52%, #200D5A 100%),
        radial-gradient(111.98% 48.59% at 0% 0%, rgba(155, 5, 149, 0.5) 0%, rgba(231, 0, 222, 0) 100%),
        radial-gradient(99.24% 63.73% at 3.82% 102.23%, rgba(155, 5, 149, 0.2) 0%, rgba(231, 0, 222, 0) 100%);
    ;
    min-height: 100vh;
    width: 100%;
    max-width: 480px;
    padding: 2rem 10%;

}

.grid1 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.carouselCon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carouselCon>div {
    height: 7px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.whiteBg {
    background-color: white;
}

.lillaBg {
    background-color: var(--lilla);
}

.container {
    background: linear-gradient(180deg, #8652F9 0%, #4B29B1 53.52%, #261168 100%),
        radial-gradient(111.98% 48.59% at 0% 0%, rgba(155, 5, 149, 0.5) 0%, rgba(231, 0, 222, 0) 100%),
        radial-gradient(35.8% 19.88% at 3.41% 2.17%, rgba(255, 248, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    min-height: 70vh;
    border-radius: 30px;
    padding: 1rem;
}

.container>img {
    border-radius: 10px;
    width: 100%;
}

.checkbox {
    height: 1.5rem;
    width: 1.5rem;
}

.radios {
    width: fit-content;
    padding: 1rem;
    flex-direction: column;
}

.bootomBtn {
    border-radius: 20px;
    padding: 1.2rem;
    width: 70%;
    background: var(--magenta-bulb);
}

.carousel {
    min-height: 30rem;
}

.mySwiperMain {
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    object-fit: contain !important;
    z-index: 1 !important;
}

.checkbox {
    /* Hide the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #B4A9CE;
    border-radius: 2px; /* Rounded corners */
    outline: none; /* Remove outline */
    cursor: pointer;
    background: var(--color-white);
}

/* Custom tick mark */
.checkbox:checked::before {
    content: '\2713'; /* Unicode character for tick */
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 16px; /* Center vertically */
    font-size: 15px; /* Size of the tick */
    color: var(--magenta-bulb);
}

/* Customize background color when checkbox is checked */
.checkbox:checked {
    background-color: var(--color-white); /* Green background color */
}

